:root{
    background: #121212;
    padding:  2rem 5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    margin: auto;
    font-family: YekanBakh-Bold !important;
    font-weight: 400;
    direction: rtl;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-right {
    display: flex;
    margin-right: 4.5rem;
}

.navbar {
    display: flex;
    padding-right: 15px;
}

.navbar ul {
    display: flex;
    justify-content: flex-start;
}

.navbar ul li{
    list-style: none;
    font-size: 14px;
    line-height: 21.91px;
    color: #ffffff;
    padding: 10px;
    left: 5px;
    font-family: IRANYekanFN;
}

.search-box {
    border-bottom: 1px solid #FFFFFF33;
    height: 25px;
    margin-left: 7rem;
}

.search-box input{
    border: none;
    color: #FFFFFF33;
    background: #121212;
    font-family: IRANYekanFN;
}

.search-box i {
    color: #FFFFFF33;
}


.content h2 {
    font-family: IRANYekanFN;
    font-size: 22px;
    font-weight: 900;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF; 
    margin: 2rem;
    margin-top: 4rem;   
}

.content p {
    font-family: IRANYekanFN;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.18px;
    text-align: center;
    color: #A1A1A1; 
    margin: 2rem;   
    width: 446px;
    height: 78px;
    margin: auto;
    margin-bottom: 2rem;    
}



.form {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5rem;
    width: 70rem;
    height: 8rem;
    margin: auto;
    margin-top: 2rem;
    
}

.input {
    height: .8rem;
    /* grid-column: 1 / 4; */
}
.input input {
    width: 348px;
    height: 54px;
    border-radius: 8px;
    background: #1A1A1A;
    border: 1px solid #a1a1a139;
    margin-top: 1rem;
    margin-left: 3rem;
    /* border-image: linear-gradient(252.35deg, rgba(255, 255, 255, 0.2) 28.3%, rgba(0, 0, 0, 0) 75.06%); */
}

.input input::placeholder {
    font-family: IRANYekanFN;
    padding: 1rem;
}

.line {
    transform: rotate(360deg);
    width: 0px;
    height: 174px;
    position: absolute;
    top: 310px;
    left: 850px;
    border: 1px solid #494949    
}

.line2 {
    transform: rotate(360deg);
    width: 0px;
    height: 174px;
    position: absolute;
    top: 310px;
    left: 430px;
    border: 1px solid #494949    
}

.button {
    width: 93px;
    height: 54px;
    border-radius: 8px;
    background: #0A0A0A;
    color: #FFFFFF;
    border: none;
    margin-top: 8rem;
    position: absolute;
    left: 38rem;
    font-family: IRANYekanFN;
}

footer {
    width: 1111px;
    height: 354.5px;
    border-top: 3px solid #3C3C3C;    
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 18rem;
}

.footer-title {
    display: flex;
    padding: 2rem;
    font-family: IRANYekanFN;

}

.icon-img {
    width: 50px;
    height: 38.62px;
    margin-left: 1rem;   
}

.title-text {
    width: 162px;
    height: 38px;
    font-size: 22px;
    font-weight: 900;
    line-height: 38px;
    text-align: left;
    color: #FFFFFF;        
}

.text {
    width: 298px;
    height: 193px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.18px;
    text-align: justify;
    color: #BABABA; 
    margin-right: 2rem;     
}

.footer-links {
    margin-top: 2rem;
}

.footer-links h2 {
    width: 77px;
    height: 38px;
    font-size: 22px;
    font-weight: 900;
    line-height: 38px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    font-family: IRANYekanFN;
}

.footer-links ul li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.91px;
    text-align: center;
    color: #d3cdcd;
    height: 2.5rem;
    width: 7rem;
    margin-right: 0px;
}

.listening-media {
    margin: .8rem 2rem;
}

.listening-media h2 {
    font-family: IRANYekanFN;
    font-size: 22px;
    font-weight: 900;
    line-height: 38px;
    text-align: right;
    color: #FFFFFF;
    padding: 1.5rem 0rem;
}
.listening-media img {
    margin-right: .8rem;
}

.social-media {
    margin: 1.5rem 2rem;
}

.social-media h2 {
    font-family: IRANYekanFN;
    font-size: 22px;
    font-weight: 900;
    line-height: 38px;
    text-align: right;
    color: #FFFFFF;
    padding: 1rem 0rem;
}

.social-media img {
    margin-right: .8rem;
}