:root{
    background: #121212;
    padding:  2rem 5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    margin: auto;
    font-family: YekanBakh-Bold !important;
    font-weight: 400;
    direction: rtl;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-right {
    display: flex;
    margin-right: 4.5rem;
}

.navbar {
    display: flex;
    padding-right: 15px;
}

.navbar ul {
    display: flex;
    justify-content: flex-start;
}

.navbar ul li{
    list-style: none;
    font-size: 14px;
    line-height: 21.91px;
    color: #ffffff;
    padding: 10px;
    left: 5px;
    font-family: IRANYekanFN;
}

.search-box {
    border-bottom: 1px solid #FFFFFF33;
    height: 25px;
    margin-left: 7rem;
}

.search-box input{
    border: none;
    color: #FFFFFF33;
    background: #121212;
    font-family: IRANYekanFN;
}

.search-box i {
    color: #FFFFFF33;
}

.division {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.title-division {
    margin-right: 4.5rem;
    margin-top: 4rem;
    color: #FFFFFF;
    font-family: IRANYekanFN;
    font-size: 18px;
    font-weight: 900;
    line-height: 31.09px;
    text-align: right;    
}

.button {
    margin-left: 5.5rem;
    margin-top: 4rem;
    
}

.button button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.button button {
    width: 107px;
    height: 39px;
    border-radius: 16px;
    /* border: 1px solid #a1a1a139; */
    background: none;
    font-family: IRANYekanFN;
    font-size: 12px;
    border: none;
    font-weight: 400;
    line-height: 24.18px;
    text-align: right;
    color: #989898;    
    /* border-image-source: linear-gradient(252.35deg, rgba(255, 255, 255, 0.2) 28.3%, rgba(0, 0, 0, 0) 75.06%); */

}

.play-list {
    width: 67rem;
    height: 81rem;
    margin: auto;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0rem;
    /* border-image: linear-gradient(252.35deg, rgba(255, 255, 255, 0.2) 28.3%, rgba(0, 0, 0, 0) 75.06%);     */
}

.video-cart {
    position: relative;
    /* border-image-source: linear-gradient(252.35deg, rgba(255, 255, 255, 0.2) 28.3%, rgba(0, 0, 0, 0) 75.06%);      */
}
.video-cart img {
    width: 20rem;
    height: 12rem;
    border-radius: 8px;
    /* border-image-source: linear-gradient(252.35deg, rgba(255, 255, 255, 0.2) 28.3%, rgba(0, 0, 0, 0) 75.06%); */
}

.video-cart h5 {
    width: 20rem;
    height: 1rem;
    font-family: IRANYekanFN;
    font-size: 14px;
    font-weight: 700;
    line-height: 27.64px;
    text-align: right;
    color: #FFFFFF; 
    padding-right: 1.5rem;
    position: absolute;
    bottom: 7.5rem;
}
.p1 {
    font-family: IRANYekanFN;
    font-size: 12px;
    font-weight: 400;
    line-height: 20.73px;
    text-align: right;
    color: #575757;    
    position: absolute;
    bottom: 3.3rem;
    right: 1.5rem;
}

.p2 {
    font-family: IRANYekanFN;
    font-size: 12px;
    font-weight: 500;
    line-height: 20.73px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #A1A1A1; 
    position: absolute;
    left: 4.6rem;
    bottom: 3.3rem;
}

.count-page {
    display: flex;
    justify-content: center;
}

.count-page span {
    font-family: IRANYekanFN;
    font-size: 12px;
    font-weight: 400;
    line-height: 24.18px;
    text-align: center;
    color: #989898; 
    padding: .5rem;   
}































































footer {
    width: 1111px;
    height: 354.5px;
    border-top: 3px solid #3C3C3C;    
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 7rem;
}

.footer-title {
    display: flex;
    padding: 2rem;
    font-family: IRANYekanFN;

}

.icon-img {
    width: 50px;
    height: 38.62px;
    margin-left: 1rem;   
}

.title-text {
    width: 162px;
    height: 38px;
    font-size: 22px;
    font-weight: 900;
    line-height: 38px;
    text-align: left;
    color: #FFFFFF;        
}

.text {
    width: 298px;
    height: 193px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.18px;
    text-align: justify;
    color: #BABABA; 
    margin-right: 2rem;     
}

.footer-links {
    margin-top: 2rem;
}

.footer-links h2 {
    width: 77px;
    height: 38px;
    font-size: 22px;
    font-weight: 900;
    line-height: 38px;
    text-align: right;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    font-family: IRANYekanFN;
}

.footer-links ul li {
    list-style-type: none;
    height: 2.5rem;
    width: 7rem;
    margin-right: 0px;
}

.footer-links ul li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #d3cdcd;
    
}

.listening-media {
    margin: .8rem 2rem;
}

.listening-media h2 {
    font-family: IRANYekanFN;
    font-size: 22px;
    font-weight: 900;
    line-height: 38px;
    text-align: right;
    color: #FFFFFF;
    padding: 1.5rem 0rem;
}
.listening-media img {
    margin-right: .8rem;
}

.social-media {
    margin: 1.5rem 2rem;
}

.social-media h2 {
    font-family: IRANYekanFN;
    font-size: 22px;
    font-weight: 900;
    line-height: 38px;
    text-align: right;
    color: #FFFFFF;
    padding: 1rem 0rem;
}

.social-media img {
    margin-right: .8rem;
}